.edit-card-container {
    display: flex;
    justify-content: center;
}

.edit-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 800px;
    height: 600px;
    border-radius: 30px;
    box-shadow: 0 8px 16px -1px rgb(0 0 0 / 40%);
}

.edit-card > * {
    align-self: center;
    position: relative;
    margin: 20px;
}

.edit-card-title {
    position: relative;
    margin-top: 100px; 
}