.isp-create-comment-form {
    position: relative;
    width: 800px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
}

#create-comment-textbox {
    width: 800px;
    height: 150px;
}

#create-comment-submit-button {
    padding: 10px 20px;
    width: 120px;
    align-self: flex-end;
}

.isp-comments-display {
    font-size: 20px;
    height: auto;
    width: 817px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.comment-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: auto;
    padding: 20px 20px;
    border-bottom: 1px solid #ccc;;
}

.comment-item-user-info {
    width: 20px;
}

.comment-item-text {
    font-size: 16px;
    width: 400px;
}

.comment-item-date {
    font-size: 16px;
    color: #888d85;
}

