
.usershow-container {
    padding: 50px 50px 0px 50px;
}

.usershow-content {
    flex-direction: column;
    height: auto;
    border-radius: 30px;
    box-shadow: 0 8px 16px -1px rgb(0 0 0 / 40%);
    position: relative;
}

.usershow-ideas {
    /* width: 40%; */
    background-color: brown;
}

.usershow-info-header {
    display: grid;
    grid-template-columns: min-content 1fr 1fr;
    border-bottom: 10px solid #010101;
}

.usershow-info-header>* {
    padding: 20px;
}

.usershow-profile-img{
    height: 280px;
    width: 280px;
    border-radius: 9999px;
    background-image: url(https://ey-aws-mern-orcastra.s3.us-west-1.amazonaws.com/public/default-profile-picture.png);
    background-size: cover;
    background-position: center;
    margin: 30px 30px 30px 60px;
}


.usershow-username {
    padding: 50px 0px 50px 0px;
    font-size: 38px;
    font-weight: 500px;
}

.usershow-email {
    font-size: 24px;
    font-weight: 500px;
    /* border-bottom: 1px solid black; */
}

.usershow-stats {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 20px;
}

.usershow-ideas {
    height: 500px;
    margin-bottom: 100px;
}