

.about-grid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    display: grid;
    grid-template-columns: 1 fr 1 fr;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.about-grid-item {
    /* background-color: blue; */
    width: 500px;
    height: 300px;
    background-color: rgb(240, 240, 240);
    border-radius: 20px;
}

.about-grid-item img {
    width: 140px;
    height: 140px;
    border-radius: 9999px;
    margin: 20px 0px 0px 20px;
}

.agi-info {
    display: flex;
    align-items: center;
}

.agi-header {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.agi-info h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 30px;
    font-size: 32px;
    padding: 20px 0px 10px 0px;
}

.agi-info h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    margin-left: 30px;
    font-size: 20px;
}

.agi-description {
    padding: 20px 40px 20px 40px; 
    line-height: 1.5;
    font-size: 14px;
}

.agi-contact {
    width: 250px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.agi-contact img {
    width: 35px;
    height: 35px;
    transition: ease-in all 0.1s;
}

.agi-contact img:hover {
    filter: invert(1);
}

