.isp-container {
    padding: 80px 50px 0px 50px;
    display: grid;
    grid-template-columns: 1fr minmax(auto, 1fr);
    grid-template-rows: 2fr minmax(auto, auto);
    /* grid-column-gap: 50px; */
}


.isp-media-container {
    background-image: url("/src/assets/edbeanis.jpeg");
    background-size: cover;
    background-position: center;
    height: 600px;
    width: 900px;
    margin: 100px 25px 0px 0px;
}

.isp-info-container {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    border-left: 1px solid #ccc;
}

.isp-title {
    font-size: 100px;
    /* position: absolute;
    right: 0px; */
}

.isp-description {
    width: 500px;
}

.isp-actions {
    display: flex;
    justify-content: space-around;
    margin-top: auto;
}

.isp-comments-container {
    grid-column: 1 / 3;
    justify-self: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.isp-create-comment-form {
    position: relative;
    width: 800px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
}

#create-comment-textbox {
    width: 800px;
    height: 150px;
}

#create-comment-submit-button {
    padding: 10px 20px;
    width: 120px;
    align-self: flex-end;
}

.isp-comments-display {
    font-size: 20px;
    height: 200px;
    width: 817px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.comment-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    border-bottom: 1px solid #ccc;;
}

.comment-item-user-info {
    width: 20px;
}

.comment-item-text {
    font-size: 16px;
    width: 400px;
}

.comment-item-date {
    font-size: 16px;
    color: #888d85;
}