
.cip-container {
    background-color: rgb(232, 232, 232);
    height: 1300px; 
}

.cip-card-container {
    display: flex;
    justify-content: center;
}

.cip-header {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500; 
    letter-spacing: 0.001em; 
    font-size: 35px;
    color: rgb(30 60 90);
    padding: 100px 0px 100px 220px;
}

.cip-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 1200px;
    height: 800px;
    border-radius: 30px;
    box-shadow: 0 8px 16px -1px rgb(0 0 0 / 40%);
}

.cip-card > * {
    align-self: center;
    position: relative;
    margin: 20px;
}

.cip-card-title {
    position: relative;
    margin-top: 100px; 
}

.cip-card-inputs::placeholder {
    font-size: 16px; 
    color: rgb(182, 179, 179);
}

.cip-card-description {
    position: relative; 
}

.cip-card-inputs:focus~.cip-card-labels {
    background: white;
    padding: 2px;
    left: 12px;
    top: -12px;
    font-size: 14px;
    opacity: 1;
    color: rgb(30 60 90);
    /* transition: color 0.3s ease; */
}

.cip-card-inputs:not(:focus):valid~.cip-card-labels {
    background: white;
    padding: 2px;
    left: 12px;
    top: -12px;
    font-size: 14px;
    opacity: 1;
    color: #888d85;
    /* transition: color 0.3s ease; */
}

.cip-card-inputs {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    width: 560px;
    height: 200px;
    border-radius: 8px;
    border: 1px solid #d4d4d4;
    box-shadow: 0 0 0 1px transparent;
    padding: 15px 0px 0px 15px;
    transition: border 0.3s ease;
    color: rgb(30 60 90);
}

.cip-card-inputs:focus {
    border: 1px solid rgb(30 60 90);
    box-shadow: 0 0 0 1px rgb(30 60 90);
    outline: none;
}

.cip-card-inputs:hover {
    border: 1px solid rgb(30 60 90);
    outline: none;
}

.cip-card-labels {
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 12px;
    transition: 0.2s ease all;
    font-family: Manrope,
        Arial,
        sans-serif !important;
    font-size: 16px;
    color: #888d85;
}

#cip-input-title {
    height: 60px;
    padding: 0px 0px 0px 15px;
}

.cip-card-image-container {
    background-color: #FBFBFA;
    width: 580px; 
    height: 200px; 
    border: 0.1rem solid rgba(0, 0, 0, 0);
    border-color: #d4d4d4;
    border-style: dashed; 
    border-radius: 8px; 
    margin: 0;    
    cursor: pointer; 
}

.cip-card-image-container:hover {
    border: 1px dashed rgb(30 60 90);
    transition: border 0.5s ease;
}

.choose-file-btn {
    cursor: pointer; 
    position: absolute; 
    width: 100%; 
    height: 100%; 
    /* top: 11rem;
    left: 15.5rem;  */
    top: 0rem; 
    left: 0rem; 
}

input[type=file]::file-selector-button {
    display: none; 
}

.image-upload-content {
    display: flex; 
    align-items: center; 
    flex-direction: column;
    justify-content: center; 
    text-align: center;
    cursor: pointer;
    height: 100%;
    width: 100%; 
}

.round-img-border {
    display: block; 
    background-color: #FFFFFF;
    border-radius: 100% !important;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.17);
    width: 4.5rem;
    line-height: 4.5rem;
    text-align: center; 
    margin-bottom: 1.8rem; 
}

.insert-img-icon {
    vertical-align: middle; 
}

.image-upload-description {
    display: block; 
    text-align: center;
    border: 0;
    margin: 0;
    padding-bottom: 1rem;  
}

.img-upload-instruct {
    color: #282828;
    font-size: 1rem;
    line-height: 1.8rem;
}

.img-file-type {
    color: #656969;
    font-size: 0.8rem; 
}

.submit-idea-btn {
    width: 150px; 
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500; 
    color: rgb(30 60 90);
    border-radius: 16px;
    border: 0.2px solid rgb(30 60 90);
    background-color: white;
    cursor: pointer; 
    height: 35px;
    margin-right: 10px;
    text-align: center; 
    transition: .5s; 
}

.submit-idea-btn:hover {
    background-color: rgb(20, 40, 60);
    color: white; 
}