.index-item-wrapper {
    text-decoration: none;
}

.index-item-link {
    text-decoration: none;
}

.placeholder-box { 
    height: 200px;
    width: 300px;
    background-color: gray;
    border-radius: 20px;
    transition: opacity 0.5s

}

.index-item-title {
    font-weight: 600;
    font-size: 20px;
    padding-top: 5px;
    color: white;
}

.placeholder-box:hover {
    opacity: 50%;
    /* transition: opacity 0.5s */
}