.splash-page-main {
    width: 100%;
    height: 100%;
    background-color: white;
    color: black
}

.links-below-header {
    margin-top: -4rem; 
    width: 63%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lbh-btn {
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 9999px;
    border: 1px solid transparent; 
    font-family: "Helvetica Neue",
        Helvetica,
        Arial,
        sans-serif;
    font-size: 16px;
    transition: 0.3s ease all;
    width: 10rem;
    height: 3.5rem; 
    z-index: 2;
}

.lbh-btn:hover {
    background-color: white;
    color: black; 
}

.gs-btn {
    margin-right: 1rem; 
}

.about-btn {
    margin-left: 1rem; 
}

.splash-page-links {
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
}

.splash-page-after-nav {
    padding: 80px 40px 20px;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.splash-page-main-heading {
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    font-weight: 600;
    color: ccc;
    opacity: 0;
    animation: fadeIn 5s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

.splash-page-slogan {
    margin-top: 40px;
    line-height: 1.5;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20px;
    font-weight: 600;
    color: ccc;
    opacity: 0;
    animation: fadeIn 6s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}


.open-button {
    margin-top: 24px;
    padding: 16px 32px;
    background-color: #23272a;
    font-size: 20px;
    font-family: 'gg-sans';
}

.bigger-button {
    font-family: 'gg-sans-med';
    font-size: 20px;
    background-color: #5865f2;
    color: white;
    padding: 16px 32px;
    margin-top: 40px;
}

.splash-section-1 {
    /* background-image: url(../../assets/splashpage-background.png);
    background-position: center; */
    background-color: #010101;

    max-width: 100%;
    height: 625px;
    color: white;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.img-container {
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section {
    display: flex;
    height: 625px;
    justify-content: center;
    align-items: center;
}

.content {
    width: 20%
}

.section-header {
    font-family: 'gg-sans-bold', sans-serif;
    font-weight: bold;
    font-size: 48px;
    line-height: 1;
}

.section-text {
    font-family: 'gg-sans-med';
    font-size: 20px;
    margin-top: 24px;
    line-height: 1.5;
}

.section-header-top {
    font-family: 'ginto-nord-2';
    font-size: 48px;
}

.content-top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.section-5 {
    height: 1060px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-6 {
    height: 280px;
    max-width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    /* margin-bottom: 120px; */
}

.section-6-content {
    width: 1260px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 120px;
    padding: 0 40px;
}

.bigger-img {
    width: 1180px;
    max-width: 100%;
    height: auto;
    margin-top: 16px;
}

.alternate-section {
    background-color: #f6f6f6;
}