
/* .splash-wrapper {
    background-image: url("/assets/texture-1.png");
    background-size: contain;
} */

/* .loginsignuppage-button {
    padding: 10px;
    animation: fadeIn 5s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
} */


.splash-header-wrapper {

    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: calc(100vh / 2);

    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    font-weight: 600;
    color: rgb(30 60 90);
    opacity: 0; 
    animation: fadeIn 5s;
    animation-delay: 0s;
    animation-fill-mode: forwards; 
    background-color: white;
}


.splash-slogan {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20px;
    font-weight: 600;
    color: rgb(30 60 90);
    opacity: 0; 
    animation: fadeIn 6s;
    animation-delay: 0s;
    animation-fill-mode: forwards; 
}


/* .columns-wrapper {
    padding-top: calc(100vh / 3);
    height: 2000px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.splash-column1 {
    background-color: rgb(0, 0, 113, 0.9);
}

.splash-column2 {
    background-color: rgba(253, 249, 17, 0.9);
}

.splash-column3 {
    background-color: rgb(0, 255, 200, 0.9);
} */


