/* .login-modal-button {
    border-style: none; 
    width: 250px;
    height: 40px;
    border-radius: 16px;
    background-color: #EFEFEF;
    cursor: pointer
} */

.modal-background{ 
    width: 400px;
    height: 600px;
    background-color: white;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    color: rgb(30 60 90);
}

.modal-close-button {
    background-color: #fff;
    color: rgb(30 60 90);
    transition: all 200ms ease-in-out 0s;
    font-size: 28px;
    height: 50px;
    width: 50px;
    border-radius: 9999px;
    border: none;
    margin: 20px;
    fill: currentcolor; 
    position: absolute;
    right: 0px;
}

.modal-close-button:hover {
    transform: rotate(-90deg);
    background-color: #c9c9c9;
    cursor: pointer;
}

.login-signup-modal {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.input-container>* {
    margin: 10px;
}

.form-input-group {
    position: relative;
}

.form-inputs:focus~.form-input-labels {
    background: white;
    padding: 2px;
    left: 12px;
    top: -12px;
    font-size: 14px;
    opacity: 1;
    color: rgb(30 60 90);
    /* transition: color 0.3s ease; */
}

.form-inputs:not(:focus):valid~.form-input-labels {
    background: white;
    padding: 2px;
    left: 12px;
    top: -12px;
    font-size: 14px;
    opacity: 1;
    color: #888d85;
    /* transition: color 0.3s ease; */
}


.form-inputs {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    width: 300px;
    height: 35px;
    border-radius: 8px;
    border: 1px solid #d4d4d4;
    box-shadow: 0 0 0 1px transparent;
    padding-left: 15px;
    transition: border 0.3s ease;
}

.form-inputs:focus {
    border: 1px solid rgb(30 60 90);
    box-shadow: 0 0 0 1px rgb(30 60 90);
    outline: none;
}

.form-inputs:hover {
    border: 1px solid rgb(30 60 90);
    outline: none;
}

.form-input-labels {
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 12px;
    transition: 0.2s ease all;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #888d85;
}

.default-button-1 {
    background-color: white;
    color: rgb(30 60 90);
    border-radius: 9999px;
    /* border: 1px solid, black; */
    border: 1px solid #d4d4d4;
    font-family: "Helvetica Neue",
        Helvetica,
        Arial,
        sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease all;
    width: 320px;
}

.default-button-1:hover {
    background-color: rgb(29, 63, 96);
    color: white; 
}

.lts-container {
    padding-top: 10px; 
}

.login-to-signup-link {
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
    /* text-underline-position: none;  */
    transition: 0.5s; 
}

.login-to-signup-link:hover {
    color: rgb(87, 130, 174);
}


/* testy */
